# Dependências e Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional e Editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.log
